@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.register {
    @include centerFlex();
    height: 100%;
    padding-top: 180px;
    padding-bottom: 50px;
}

.loader {
    @include centerFlex();
    margin-top: 10px;
}